:root {
    --accent-main-color: rgb(255, 100, 0);
    --accent-color-1: color-mix(in srgb, var(--accent-main-color), black 93%);
    --accent-color-2: color-mix(in srgb, var(--accent-main-color), black 80%);
    --accent-color-3: color-mix(in srgb, var(--accent-main-color), black 83%);
    --accent-color-4: color-mix(in srgb, var(--accent-main-color), black 15%);
    --accent-color-5: color-mix(in srgb, var(--accent-main-color), white 45%);
    --error-color: rgb(255, 30, 30);
    --white-color: rgb(255, 255, 255);
    --gray-color: rgb(110, 110, 110);
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--accent-color-1);
}

p {
    margin: 0;
}

div.default-hide {
    display: none;
}

div.default-show {
    display: block;
}

div.shortener__page-container {
    justify-content: center;
    padding-top: 40px;
    display: flex;
}

div.shortener__content-container {
    max-width: 700px;
    padding: 0 16px;
    width: 100%;
}

div.shortener__section-container {
    margin-bottom: 25px;
}

div.shortener__separate-text-container {
    color: var(--gray-color);
    margin: 0px;
    margin-left: 15px;
    font-size: 18px;
}

div.shortener__separate-text-container button {
    padding: 0;
    font: inherit;
    color: var(--accent-color-4);
    border: none;
    background: none;
    cursor: pointer;
}

div.shortener__error-text-container {
    color: var(--error-color);
}

div.shortener__form-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

div.shortener__form-container input {
    flex: 1;
    color: var(--white-color);
    padding: 17px;
    font-size: 27px;
    background-color: var( --accent-color-2);
    border-radius: 15px;
    border: none;
}

div.shortener__form-container input:focus {
    background-color: var( --accent-color-3);
    outline: none;
    border: none;
}

div.shortener__form-container input::placeholder {
    color: var(--white-color);
}

div.shortener__result-block-container {
    background-color: var(--accent-color-3);
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

div.shortener__result-block-container hr {
    margin: 0 17px;
    border-color: var(--gray-color);
}

div.shortener__result-link-container {
    padding: 17px;
    font-size: 27px;
}

div.shortener__result-link-container a {
    align-items: center;
    text-decoration: none;
    color: var(--accent-color-4);
    display: flex;
    gap: 7px;
}

div.shortener__result-link-container a svg {
    width: 24px;
    height: 24px;
}

div.shortener__result-line-container {
    width: 90%;
    padding: 17px;
    font-size: 27px;
}

div.shortener__result-line-container p {
    color: var(--white-color);
}

div.shortener__result-line-container p span {
    color: var(--accent-color-5);
}
